<ion-header>
  <ion-toolbar color=primary>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de planificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col>
      <ion-title class="ion-padding ion-margin">
        Detalles
      <ion-button
        style="float: right"
        color="danger"
        fill="clear"
        [disabled]="this.state=='Cancelada' || this.state=='Completada y Terminada' || this.state=='Incompleta'"
        (click)="this.cancelPlanning()">
        <ion-icon name="trash-outline"></ion-icon>
        <p class="ion-margin">Eliminar</p>
      </ion-button>
      <ion-button
        [disabled]="this.isEditing || this.state=='Cancelada' || this.state=='Completada y Terminada' || this.state=='Incompleta'"
        style="float: right"
        fill="clear"
        (click)="this.editPlanning()">
        <ion-icon name="pencil-outline"></ion-icon>
        <p class="ion-margin">Editar</p>
      </ion-button>
      </ion-title>
      <form [formGroup]="myForm" *ngIf='!this.isLoading'>
        
        <ion-item id="rounded">
          <ion-label position="stacked" color="primary">Paciente</ion-label>
          <ion-searchbar 
            animated 
            placeholder="Selecciona un paciente" 
            formControlName="patient"
            (ionFocus)="patientBlur=false"
            (ionBlur)="patientBlur=true"
            [disabled]="true">
          </ion-searchbar>
          <ion-list lines="none">
            <ion-item *ngFor="let p of patientsSearch">
              <ion-button fill="clear" class="ion-text-wrap" (click) = "fillSearchBar(p.firstName + ' ' + p.lastName)">
                <ion-text>
                  {{ p.firstName }} {{ p.lastName }}
                </ion-text>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-label color="danger" *ngIf="!patientExists() && patientBlur" style="margin-left: 5%;font-size: 80%;">El paciente ingresado no existe</ion-label>
        
        <ion-item id="rounded">
          <ion-label position="stacked" color="primary">Profesional</ion-label>
          <ion-input formControlName="professionalName" [disabled]="true"></ion-input>
        </ion-item>

        <ion-item id="rounded">
          <ion-label position="stacked" color="primary">Nombre de la planificación</ion-label>
          <ion-input formControlName="planningName" [disabled]="!isEditing"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-item id="rounded" button>
              <ion-label position="stacked" color="primary">Fecha de inicio</ion-label>
              <ion-input readonly
                  [liIonic4Datepicker]="datePickerStart"
                  formControlName="startDate"
                  [disabled]="this.state!='Pendiente' || !isEditing">
              </ion-input>
              <ion-icon name="calendar-outline" slot="end" style="margin-top: 16px;"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item id="rounded" button >
              <ion-label position="stacked" color="primary">Fecha de fin</ion-label>
              <ion-input readonly
                  [liIonic4Datepicker]="datePickerFinish"
                  formControlName="finishDate"
                  [disabled]="!isEditing">
              </ion-input>
              <ion-icon name="calendar-outline" slot="end" style="margin-top: 16px;"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-chip *ngIf="this.state === 'Vigente'" color="primary">
          <ion-icon name="play-circle"></ion-icon>
          <ion-label color="dark">{{ this.state }}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="this.state === 'Pendiente'" color="tertiary">
          <ion-icon name="time"></ion-icon>
          <ion-label color="dark">{{this.state}}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="this.state === 'Incompleta'" color="warning">
          <ion-icon name="checkmark-circle"></ion-icon>
          <ion-label color="dark">{{this.state}}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="this.state === 'Cancelada'" color="danger">
          <ion-icon name="close-circle"></ion-icon>
          <ion-label color="dark">{{this.state}}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="this.state === 'Completada' || this.state === 'Completada y Terminada'" color="success">
          <ion-icon name="checkmark-circle"></ion-icon>
          <ion-label color="dark">Completada</ion-label>
        </ion-chip>
        <ion-item id="rounded">
          <ion-row>
            <ion-col>
              <ion-label class="assigned-games" position="stacked" color="primary">Juegos asignados</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
        <div *ngIf="!this.isEditing">
          <ion-card 
            *ngFor="let detail of planningList" 
            class="horizontal-cards">
            <ion-card-header>
              <ion-row>
              <ion-card-title style="margin-top: 0.8%;" color="primary">{{detail.game}}</ion-card-title>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              <p class="session-input" *ngIf="detail.numberOfSession != -1"><b>Sesiones: </b>{{detail.numberOfSession}}</p>
              <p class="session-input" *ngIf="detail.numberOfSession == -1"><b>Sesiones: </b>Sin límite de sesiones.</p>
              <ion-label *ngFor="let param of detail?.parameters">
                <div [ngSwitch]="param?.value">
                  
                  <div *ngSwitchCase="'true'">
                    <ion-text>
                      <ion-icon size="small" color="primary" name="information-circle"  ngbTooltip="{{param.contextualHelp}}" placement="top-left"></ion-icon>
                      <b style="vertical-align: top;">{{ param?.spanishName }}: </b><span style="vertical-align: top;">Si</span></ion-text>
                  </div>
                  <div *ngSwitchCase="'false'">
                    <ion-text>
                      <ion-icon size="small" color="primary" name="information-circle"  ngbTooltip="{{param.contextualHelp}}" placement="top-left"></ion-icon>
                      <b style="vertical-align: top;">{{ param?.spanishName }}: </b><span style="vertical-align: top;">No</span></ion-text>
                  </div>
                  <div *ngSwitchDefault>
                    <div *ngIf="param?.name=='spriteSet';else notSpriteSet">
                      <div *ngIf="param?.value=='1'">
                        <ion-text>
                          <ion-icon size="small" color="primary" name="information-circle"  ngbTooltip="{{param.contextualHelp}}" placement="top-left"></ion-icon>
                          <b style="vertical-align: top;">{{ param?.spanishName }}: </b><span style="vertical-align: top;">Flores</span></ion-text>
                      </div>
                      <div *ngIf="param?.value=='2'">
                        <ion-text>
                          <ion-icon size="small" color="primary" name="information-circle"  ngbTooltip="{{param.contextualHelp}}" placement="top-left"></ion-icon>
                          <b style="vertical-align: top;">{{ param?.spanishName }}: </b><span style="vertical-align: top;">Frutas</span></ion-text>
                      </div>
                    </div>
                    <ng-template #notSpriteSet>
                      <ion-text>
                        <ion-icon size="small" color="primary" name="information-circle"  ngbTooltip="{{param.contextualHelp}}" placement="top-left"></ion-icon>
                        <b style="vertical-align: top;">{{ param?.spanishName }}: </b><span style="vertical-align: top;">{{param?.value}} {{param?.unit}}</span></ion-text>
                    </ng-template>
                  </div>
                </div>
              </ion-label>
            </ion-card-content>
          </ion-card>
        </div>
      </form>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-content>
