<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de planificación </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="currentTab">
    <ion-segment-button value="summary" layout="icon-start">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label class="planning_tab">Resumen</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sessions" layout="icon-start">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label class="planning_tab">Sesiones</ion-label>
    </ion-segment-button>
    <ion-segment-button value="results" layout="icon-start">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label class="planning_tab">Resultados</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- RESUMEN -->
  <div *ngIf="currentTab == 'summary'">
    <ion-row class="ion-justify-content-end" style="width: 90%;">
      <ion-button
        [disabled]="this.isEditing || this.state=='Cancelada' || this.state=='Completada y Terminada' || this.state=='Incompleta'"
        style="float: right"
        fill="clear"
        (click)="this.editPlanning()">
        <ion-icon name="pencil-outline"></ion-icon>
        <p class="ion-margin">Editar</p>
      </ion-button>
      <ion-button
        style="float: right"
        color="danger"
        fill="clear"
        [disabled]="this.state=='Cancelada' || this.state=='Completada y Terminada' || this.state=='Incompleta'"
        (click)="this.cancelPlanning()">
        <ion-icon name="trash-outline"></ion-icon>
        <p class="ion-margin">Eliminar</p>
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-card class="card">
              <ion-text class="card_title">
                Nombre de planificación
              </ion-text>
              <ion-label class="card_label">
                {{ this.planningName }}
              </ion-label>
              <ion-text class="card_title">
                Paciente
              </ion-text>
              <ion-label color="primary" [routerLink]="['../../patients', patientId]" role="button" class="card_label">
                {{ this.myForm.value.patient }} ({{this.patientAge}} años)
              </ion-label>
              <ion-text class="card_title">
                Asignada por
              </ion-text>
              <ion-label class="card_label">
                {{ this.myForm.value.professionalName }}
              </ion-label>
            </ion-card>
          </ion-col>
  
          <ion-col>
            <ion-card class="card">
              <ion-text class="card_title">
                Vigencia
              </ion-text>
              <ion-label class="card_label">
                Desde {{ this.myForm.value.startDate }}
                <br />
                Hasta {{ this.myForm.value.finishDate }}
                <br />
                <ion-chip
                  class="card_label_chip"
                  *ngIf="this.state === 'Vigente'"
                  color="primary"
                >
                  <ion-icon name="play-circle"></ion-icon>
                  <ion-label color="dark">{{ this.state }}</ion-label>
                </ion-chip>
                <ion-chip
                  class="card_label_chip"
                  *ngIf="this.state === 'Pendiente'"
                  color="tertiary"
                >
                  <ion-icon name="time"></ion-icon>
                  <ion-label color="dark">{{ this.state }}</ion-label>
                </ion-chip>
                <ion-chip
                  class="card_label_chip"
                  *ngIf="this.state === 'Incompleta'"
                  color="warning"
                >
                  <ion-icon name="checkmark-circle"></ion-icon>
                  <ion-label color="dark">{{ this.state }}</ion-label>
                </ion-chip>
                <ion-chip
                  class="card_label_chip"
                  *ngIf="this.state === 'Cancelada'"
                  color="danger"
                >
                  <ion-icon name="close-circle"></ion-icon>
                  <ion-label color="dark">{{ this.state }}</ion-label>
                </ion-chip>
                <ion-chip
                  *ngIf="this.state === 'Completada' || this.state === 'Completada y Terminada'"
                  color="success"
                >
                  <ion-icon name="checkmark-circle"></ion-icon>
                  <ion-label color="dark">Completada</ion-label>
                </ion-chip>
              </ion-label>
              
              <ion-text class="card_title">
                Juegos asignados
              </ion-text>
              <ion-label class="card_label_gamelist">
                <span *ngFor="let gameName of this.uniqueGameList; let i = index">
                  {{ gameName }}
                  <span *ngIf="i != uniqueGameList.length-1"> - </span>
                </span>
              </ion-label>
            </ion-card>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  <!-- TAB RESULTS -->
  
  <div *ngIf="currentTab=='results'">
    <div *ngIf="this.results.length == 0" style=text-align:center;>
      <br>
      <h2>No se han encontrado resultados para esta planificación</h2>
      <h6>Los resultados aparecerán aquí cuando el paciente complete al menos una partida.</h6>
    </div>
    <ion-row>
      <ion-col sizeXl="1" sizeLg="0" sizeMd="0"></ion-col>
      <ion-col sizeXl="10" sizeLg="12" sizeMd="12">
        <ion-row *ngIf="this.results.length != 0" class="filter-row">
          <ion-item>
            <ion-label position="stacked" color="primary">Filtro por juego:</ion-label>
            <ion-select
              interface="popover" 
              placeholder="Seleccionar juego"
              value="Todos" 
              (ionChange)="filterByGame($event)">
              <ion-select-option [value]="game" *ngFor="let game of uniqueGameList">{{game}}</ion-select-option>
              <ion-select-option value=''>Todos</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" color="primary">Filtro por estado:</ion-label>
            <ion-select 
              interface="popover" 
              placeholder="Seleccione estado"
              value="Todos" 
              (ionChange)="filterByState($event)">
              <ion-select-option value=false>Completo</ion-select-option>
              <ion-select-option value=true>Abandonado</ion-select-option>
              <ion-select-option value=''>Todos</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <app-result-card
          *ngFor="let result of this.filteredResults"
          (click)="this.goToSubresults(result)"
          [result]="result"
        ></app-result-card>
      </ion-col>
      <ion-col sizeXl="1" sizeLg="0" sizeMd="0"></ion-col>
    </ion-row>
    <div *ngIf="(this.filteredResults.length == 0 && this.results.length != 0)" style=text-align:center;>
      <br>
      <h2>No se han encontrado resultados para la búsqueda</h2>
      <h6>Prueba modificando los filtros de búsqueda.</h6>
    </div>
  </div>
  <!-- TAB SESIONES -->
  <div id="sessions" *ngIf="currentTab==='sessions'">
    <ion-row>
      <ion-col sizeXl="1" sizeLg="0" sizeMd="0"></ion-col>
      <ion-col sizeXl="10" sizeLg="12" sizeMd="12">
        <div *ngFor="let session of this.planningList">
          <app-game-session-card [gameSession]="session"></app-game-session-card>
        </div>
      </ion-col>
      <ion-col sizeXl="1" sizeLg="0" sizeMd="0"></ion-col>
    </ion-row>
  </div>
</ion-content>
