<ion-card [style]="!withBorders?'box-shadow:none !important;':'box-shadow:rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;'" class="graph ion-no-margin">
  <ion-card-header>
    <ion-text>Se muestran </ion-text>
    <ion-text *ngIf="this.isUnitFemale && this.numberOfPoints !== 'all'">las últimas </ion-text>
    <ion-text *ngIf="!this.isUnitFemale && this.numberOfPoints !== 'all'">los últimos </ion-text>
    <select [(ngModel)]="this.numberOfPoints" (ngModelChange)="this.getTab()">
      <option value="all" *ngIf="this.isUnitFemale">todas</option>
      <option value="all" *ngIf="!this.isUnitFemale">todos</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
    <ion-text *ngIf="this.isUnitFemale && this.numberOfPoints === 'all'"> las</ion-text>
    <ion-text *ngIf="!this.isUnitFemale && this.numberOfPoints === 'all'"> los</ion-text>
    <ion-text> {{ this.unit }}.</ion-text>
  </ion-card-header>
  <ion-segment *ngIf="this.hasTabs" scrollable="true" [(ngModel)]="this.selectedTab" (ionChange)="this.getTab()">
    <ion-segment-button *ngFor="let tab of this.tabs; index as i" [value]="i" >
      <ion-label class="tab">
        {{ tab }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-card-content>
    <canvas #lineGraph (click)="this.onChartClick()"></canvas>
  </ion-card-content>
</ion-card>