<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mis Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col>
      <ion-card class="ion-padding" *ngIf="this.patients.length === 0">
        <ion-text>
          <h2>No se encontró ningún paciente. ¿Quieres cargar uno?</h2>
        </ion-text>
        <ion-button [routerLink]="['../new-patient']">
          <ion-icon name="person-add-outline"></ion-icon>
          <p class="ion-margin">Crear paciente</p>
        </ion-button>
      </ion-card>
      <div *ngIf="this.patients.length !== 0">
        <div class="ion-padding ion-margin">
          <ion-button [routerLink]="['../new-patient']">
            <ion-icon name="person-add-outline"></ion-icon>
            <p class="ion-margin">Nuevo Paciente</p>
          </ion-button>
        </div>
        <div class="fc">
          <ion-label class="fc__label" position="stacked" color="primary">
            Busqueda por paciente
          </ion-label>
          <form class="fc__form">
            <div class="fc__form__searchbar_container">
              <ion-searchbar
                class="fc__form__searchbar_container__searchbar"
                animated
                showCancelButton="focus"
                placeholder="Nombre o apellido"
                (ionInput)="filterPatientCard($event)"
              ></ion-searchbar>
            </div>
            <div class="fc__form__checkbox_container">
              <ion-checkbox class="fc__form__checkbox_container__checkbox"></ion-checkbox>
              <ion-label class="fc__form__checkbox_container__label">Incluir pacientes deshabilitados</ion-label>
            </div>
          </form>
        </div>
        
        <div class="horizontal-cards ion-margin">
          <div class="item" *ngIf="this.skeletonLoading == true">
            <ngx-skeleton-loader
              count="10"
              [theme]="{
                width: '372px',
                height: '240px',
                'border-radius': '10px',
                'margin-right': '10px'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div *ngFor="let patient of formattedPatients">
            <app-patient-card [patient]="patient"></app-patient-card>
          </div>
        </div>
        <h2
          *ngIf="this.formattedPatients.length == 0 && this.skeletonLoading == false"
        >
          No se han encontrado resultados para la búsqueda
        </h2>
      </div>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>
