ion-toolbar.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}
.horizontal-cards {
    ion-card {
        display: inline-block;
        width: 360px;
        height: 256px;
    }
}
/* .ion-searchbar {
    ion-searchbar {
        display: inline-block;
        width: 720px;
        height: 256px;
    }
} */