ion-toolbar.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.patients_container {
    width: 100%;

    &__patient_item {
        display: inline-grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        align-items: center;
        justify-items: center;

        &__card {
            display: flex;
            justify-items: center;
            align-items: center;
        }
    }
}

.fc {
    &__form {
        width: 100%;
        &__searchbar_container {
            width: 100%;
        }

        &__checkbox_container {
            display: flex;
            align-items: center;
            min-width: 250px;
            padding-left: 16px;
            &__label {
                padding-left: 6px;
            }
        }
    }
}