<ion-card button="true">
  <ion-card-header>
    <ion-row>
    <ion-card-title style="margin-top: 0.8%;" color="primary">Nombre de planificacion</ion-card-title>
      <ion-chip *ngIf="this.planning.stateName === 'Vigente'" color="dark">
        <ion-icon color="success" name="checkmark-circle"></ion-icon>
        <ion-label color="dark">{{ this.planning.stateName }}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="this.planning.stateName === 'Pendiente'" color="warning">
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>Pendiente</ion-label>
      </ion-chip>
    </ion-row>
    <ion-row><h4>{{ this.planning.patientName }}</h4></ion-row>
  </ion-card-header>
  <ion-card-content>
    
    <ion-label
      ><p>Profesional: <b>{{ this.planning.professionalName }}</b></p></ion-label
    >
    <ion-label
      ><p>Vigencia: {{ this.planning.startDate}} a {{ this.planning.dueDate}}</p></ion-label
    >

  </ion-card-content>
</ion-card>