.reset_password{
    margin-top: 20px;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}
.reset_password:hover {
    text-decoration: underline;
    text-decoration-color: #488aff;
}