.reset_password{
    margin-top: 20px;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}
.reset_password:hover {
    text-decoration: underline;
    text-decoration-color: #488aff;
}
.patient-cta-col {
    display: flex;
    align-content: center;
    justify-content: center;
    .patient-cta {
        width: 80%;
        ion-button{
            font-size: 16pt;
        }
    }
}