<ion-header>
  <ion-toolbar color=primary>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col>
      <ion-card class="center-content" style="flex-direction: column;">
        <form [formGroup]="changePasswordForm">
          <ion-item class="content">
            <ion-label position="stacked" color="primary">Antigua contraseña *</ion-label>
            <ion-input (ionChange)="checkErrors()" type=password formControlName="oldPassword"></ion-input>
          </ion-item>
          <ion-item class="content">
            <ion-label position="stacked" color="primary">Nueva contraseña *</ion-label>
            <ion-input (ionChange)="checkErrors()" type=password formControlName="newPassword"></ion-input>
          </ion-item>
          <ion-item class="content">
            <ion-label position="stacked" color="primary">Repetir nueva contraseña *</ion-label>
            <ion-input (ionChange)="checkErrors()" type=password formControlName="confirmNewPassword"></ion-input>
          </ion-item>
          <ion-label class="center-content" color="danger" *ngIf="showError">
            {{ errorLabel }}
          </ion-label>
          <ion-button shape="round" 
                      expand="block" 
                      [disabled]="!changePasswordForm.valid"
                      (click)="changePassword()">
            Cambiar contraseña
          </ion-button>
        </form>
      </ion-card>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
</ion-content>