.card {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	height: 320px;
	text-align: center;
	
	&_ac {
		display:flex;
		justify-content: center;
		align-items: center;
		height: 48px;
		background: #007CEE;

		&_label {
			font-size: 24px;
			font-family: "Bariol";
			margin-bottom: 0px;
			line-height: normal;
			color: #FFFFFF;
		}

		&_linked {
			display:flex;
			justify-content: center;
			align-items: center;
			height: 48px;
			background: #42D77D;
		}
		&_unlinked {
			display:flex;
			justify-content: center;
			align-items: center;
			height: 48px;
			background: #ED576B;
		}
	}
	
	&_title {
		font-size: 40px;
        font-family: "Futura";
		color: black;
		margin-bottom: -4px;
	}

	&_desc {
		font-size: 20px;
		font-family: "Bariol";
		margin-bottom: 16px;
		margin-left: 16px;
		margin-right: 16px;
		line-height: normal;
	}
	
	&_label {
		font-size: 24px;
		font-family: "Bariol";
		margin-bottom: 5px;
		line-height: normal;

		&_chip {
			height: 45px;
			font-size: 20px;
			border-radius: 24px;

			ion-icon {
				font-size: 150%;
			}

			ion-label {
				font-size: 20px;
			}	
		}

		&_gamelist {
			font-size: 24px;
			line-height: normal;
		}
	}
	&_recent-results {
		&_title {
			font-family: "Bariol";
			font-size: 28px;
			line-height: 24px;
		}
		&_subtitle {
			font-family: "Bariol";
			font-size: 24px;
		}

		&_chips {	
			height: 43px;
			border-radius: 24px;
			&_icon {
				font-size: 31px;
			}
			&_text {
				color: black;
				font-size: 20px;
			}
		}
	}
}

#rounded{
    border-radius: 10px !important;
    font-size: 0.9em;
    border: 1px solid #c0c0c0 !important;
    display: flex;
    justify-content: space-between;
    /* height: 10%; */
    /* width: 41%; */
}
#container {
    margin-left:auto; 
    margin-right: auto; 
    
}

ion-textarea {
    font-family: "Bariol";
}

ion-input {
    font-family: "Bariol"
}

.result-tab {
    color:white; 
    font-family: 'Futura';
    font-size: 24px;
}

.patient-tab {
    text-transform: capitalize;
    font-size: 16px;
}

.mgp {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mgp-tendency {
	display: flex;
	justify-content: center;
}

.icon {
	margin-left: 2px;
}
.card-big-number {
	font-family: "Bariol";
	font-size: 64px;
	line-height: 64px;
}
  
.card-small-number {
	font-family: "Bariol";
	font-size: 24px;
	line-height: 24px;
}
.card-subtitle {
	color: black;
	font-family: "Bariol";
	font-size: 24px;
	line-height: 24px;
}
  
.card-warning {
	font-family: "Bariol";
	font-size: 18px;
	line-height: 18px;
	color: var(--ion-color-medium);
}
