ion-input {
    font-family: "Bariol";
}

ion-text {
    font-family: "Futura";
    font-size: 18px;
}

#rounded{
    border-radius: 10px !important;
    font-size: 0.9em;
    border: 1px solid #c0c0c0 !important;
    display: flex;
    justify-content: space-between;

}

.card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 16px 0px;

    &_title {
        margin-top: 16px;
    }

    &_label {
        margin-left: 5px;
    }

    &_date {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        &_stacked {
            font-size: 14px !important;
        }
    }

    &_search {
        margin-left: 20px;
        margin-right: 20px;
    }

    &_name {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 25px;
    }
}
.button {
    background: #007CEE;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}