<ion-header>
    <ion-toolbar color=primary>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-title>Cargar nueva planificación</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col>
        
        <form [formGroup]="planningForm" (ngSubmit)="save(planningForm)">
          <!-- Seleccionar al paciente -->
          <app-patient-planning-name 
            [patients]="this.patients"
            (patientName)="fillPatient($event)"
            (planningName)="fillPlanningName($event)">
          </app-patient-planning-name>

          <!-- Fechas de planificación -->
          <app-start-finish-date 
            *ngIf="patientSelected"
            (startPlanningDate)="fillStartDate($event)"
            (finishPlanningDate)="fillFinishDate($event)">
          </app-start-finish-date>

          <!-- Juegos de planificación -->
          <app-add-games 
            *ngIf="this.planningForm.value.startDate.length != 0"
            [games]="this.games"
            (nullGames)="this.fillWithNullGames()"
            (effectiveGames)="fillAssignedGames($event)"
            (intermediateGames)="fillPlanningGames($event)">
          </app-add-games>

          <ion-button type="submit" 
            [disabled]="submitDisabled() || isClicked"
            expand="block">
            <ion-icon slot="start" name="pencil"></ion-icon>
            Guardar y terminar
          </ion-button>
        </form>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-content>