ion-input {
    font-family: "Bariol";
}

ion-text {
    font-family: "Futura";
    font-size: 18px;
}

#rounded{
    border-radius: 10px !important;
    font-size: 0.9em;
    border: 1px solid #c0c0c0 !important;
    display: flex;
    justify-content: space-between;

}

.cd {
    margin-left: 15px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    
    &_select {
        font-family: "Bariol";
        border-radius: 4px;
        padding: 0px 4px;
        height: 24px;
    }

    &_chips {
        &_selected {
            color:white;
            font-family: "Bariol";
            border-radius: 4px;
            padding: 0px 4px;
            height: 24px;
        }
    }
}

.gamecard {
    display:inline-block !important;
    width:352px;
}
