<ion-header>
    <ion-toolbar color=primary>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-title>Cargar nueva planificación</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col>
        
        <form [formGroup]="myForm" (ngSubmit)="save(myForm)">

          <ion-title class="ion-padding">
            Nombre de la planificación
          </ion-title>
        <ion-item id="rounded">
          <ion-label position="stacked" color="primary">Ingresa un nombre único para la planificación:</ion-label>
          <ion-input formControlName="planningName" placeholder="Nombre de la planificación" type="text"></ion-input>
        </ion-item>
          <!-- Seleccionar al paciente -->
          <ion-card>
            <ion-title class="ion-padding">
              1. Seleccionar un Paciente
            </ion-title>
          <ion-item>
            <ion-label position="stacked" color="primary">Selecciona al paciente para el cual quieres crear una planificación:</ion-label>
            <ion-searchbar 
              animated 
              placeholder="Selecciona un paciente" 
              formControlName="patient"
              (ionChange)="filterPatient($event)"
              (ionFocus)="patientBlur=false"
              (ionBlur)="patientBlur=true">
            </ion-searchbar>
            <ion-list lines="none">
              <ion-item *ngFor="let p of patientsSearch">
                <ion-button fill="clear" class="ion-text-wrap" (click) = "fillSearchBar(p.firstName + ' ' + p.lastName)">
                  <ion-text>
                    {{ p.firstName }} {{ p.lastName }}
                  </ion-text>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-item>
          <ion-label color="danger" *ngIf="!patientExists() && patientBlur" style="margin-left: 5%;font-size: 80%;">El paciente ingresado no existe</ion-label>
        </ion-card>

        <!-- Fechas de planificación -->
        <ion-card>
          <ion-title class="ion-padding">
            2. Seleccionar un período
          </ion-title>
          <ion-label class="ion-padding">Selecciona el período de tiempo en el cual el paciente podrá realizar los ejercicios.</ion-label>
          <ion-row>
            <ion-col>
              <ion-item id="rounded" button>
                <ion-label position="stacked" color="primary">¿Cuándo podrá el paciente empezar a jugar?</ion-label>
                <ion-input readonly
                    [liIonic4Datepicker]="datePickerStart"
                    formControlName="startDate"
                    (ionChange)="setFinishMinDate()"
                    placeholder="DD/MM/AAAA">
                </ion-input>
                <ion-icon name="calendar-outline" slot="end" style="margin-top: 16px;"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item id="rounded" button >
                <ion-label position="stacked" color="primary">¿Cuándo el paciente dejará de ver los ejercicios?</ion-label>
                <ion-input readonly
                    [disabled]="this.myForm.value.startDate.length == 0"
                    [liIonic4Datepicker]="datePickerFinish"
                    formControlName="finishDate"
                    placeholder="DD/MM/AAAA">
                </ion-input>
                <ion-icon name="calendar-outline" slot="end" style="margin-top: 16px;"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>

        <!-- Juegos de planificación -->
        <ion-card>
          <ion-title class="ion-padding">
            3. Agregar ejercicios
          </ion-title>
          <ion-label color="primary" class="ion-padding" *ngIf="!isAdding">Juegos asignados</ion-label>
          
          <ion-item lines="none">
            <ion-chip color="success" *ngIf="!isAdding" (click)="isAdding = true">
              <ion-icon name="add-outline"></ion-icon>
              <ion-label class="ion-margin">Añadir Juego</ion-label>
            </ion-chip>
          </ion-item>

          <!-- Buscador de juegos-->
          <ion-row>
            <ion-col>
              <div>
                <ion-label class="ion-padding" position="stacked">Busca un juego o selecciona uno de los que aparecen debajo para agregarlo a la planificación:</ion-label>
                <ion-searchbar 
                  animated 
                  placeholder="Comienza a escribir aquí..."
                  autocomplete
                  autocorrect
                  (ionInput)="filterGame($event)">
                </ion-searchbar>
                <ion-list lines="none">
                  <ion-item *ngFor="let g of gamesSearch">
                    <ion-button fill="clear" class="ion-text-wrap" (click) = "addGame(g)">
                      <ion-text>
                        {{ g.name }}
                      </ion-text>
                    </ion-button>
                  </ion-item>
                </ion-list>
              </div>

            </ion-col>
          </ion-row>
        </ion-card>

        <ion-button type="submit" 
          [disabled]="submitDisabled() || isClicked"
          expand="block">
          <ion-icon slot="start" name="pencil"></ion-icon>
          Guardar y terminar
        </ion-button>
        </form>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-content>