<div class="inner-content">
  <ion-list>
    <!-- PARAMS 0 y 3 -->
    <ion-list-header>
      <ion-label>
        Condición de Parada
      </ion-label>
    </ion-list-header>
    <ion-radio-group [value]="game.index">
      <div *ngFor="let p of game.gameParam; let i = index">
        <div *ngIf="p.param.type==0">
          <ion-row>
            <ion-col>
            <ion-item ngbTooltip="{{p.param.contextualHelp}}" placement="bottom-left">
              <ion-icon color="primary" name="information-circle"></ion-icon>
              <ion-label>{{ p.param.name }}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item disabled="{{!p.isActive}}">
              <ion-input disabled="{{!p.isActive}}" 
                type="number" 
                value="{{ p.value }}" 
                (ionChange)="changeParamValue(game,p,$event)" 
                [min]="p.minValue" 
                [max]="checkMaxValue(p)" 
                (ionBlur)="checkParamLimit(p)"
                placeholder="{{p.param.unit}}"
                >
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        </div>
        <div *ngIf="p.param.type==3">
          <ion-item ngbTooltip="{{p.param.contextualHelp}}" placement="top-left">
            <ion-icon color="primary" name="information-circle"></ion-icon>
            <ion-label>{{ p.param.name }}</ion-label>
            <ion-item 
              style="margin-left: 5%; width: 100px; border-bottom: solid 1px rgb(56, 128, 255);">
              <ion-input 
                slot="end"
                style="width: 100%; margin: 0;"
                type="number" 
                value="{{ p.value }}" 
                (ionChange)="changeParamValue(game,p,$event)" 
                type="number" [min]="p.minValue" 
                [max]="checkMaxValue(p)" 
                (ionBlur)="checkParamLimit(p)"
                >
              </ion-input>
            </ion-item>
            <ion-text color="medium">{{p.param.unit}}</ion-text>
          </ion-item>
        </div>
      </div>
    </ion-radio-group>
    <!-- PARAMS 1 y 2 -->
    <ion-list-header *ngIf="game.hasActivatable">
      <ion-label>
        Activables
      </ion-label>
    </ion-list-header>

    <div *ngFor="let p of game.gameParam; let i = index">

      <div *ngIf="p.param.type==1">
          <ion-item ngbTooltip="{{p.param.contextualHelp}}" placement="top-left">
            <ion-icon color="primary" name="information-circle"></ion-icon>
            <ion-label>{{ p.param.name }}</ion-label>
            <ion-toggle checked="{{p.value}}" (ionChange)="changeParamsType1(game,p,$event)"></ion-toggle>
          </ion-item>
      </div>

      <div *ngIf="p.param.type==2">
        <ion-list-header>
          <ion-label>
            {{ p.param.name }}
          </ion-label>
        </ion-list-header>
        <ion-radio-group [value]="p.value-1" (ionChange)="changeParamType2($event,p)"> 
          <div *ngFor="let paramType2 of p.paramType2Content; let j = index">
            <ion-item ngbTooltip="{{p.param.contextualHelp}}" placement="top-left">
              <ion-icon color="primary" name="information-circle"></ion-icon>
              <ion-label>{{ paramType2.name }}</ion-label>
              <ion-radio [value]="j"></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </div>

    </div>
  </ion-list>

  <ion-button
    [disabled]="!checkIfCorrect(game)"
    expand="block" 
    (click)="closeModal();">
    Listo
  </ion-button>
</div>