<ion-header>
  <ion-toolbar color=primary>
    <ion-title>Mis Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="horizontal-cards">
  <ion-card *ngFor="let patient of patients">
    <ion-card-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h3>{{patient.name}}</h3>
          <p>Edad: {{patient.age}}</p>
        </ion-label>
      </ion-item>
      
      <ion-chip *ngFor="let domain of patient.domains">
        <ion-label>{{domain}}</ion-label>
      </ion-chip>
    </ion-card-header>
  
    <ion-card-content>
      {{patient.comment}}
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
