<ion-header>
  <ion-toolbar color=primary>
    <ion-title>Planificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col>
    <div>
      <div class="horizontal-cards ion-padding ion-margin">
        <ion-button [routerLink]="['./new-planning']">
            <ion-icon name="calendar-clear"></ion-icon>
            <p class="ion-margin">Nueva planificación</p>
        </ion-button>
      </div>

      <app-planning-search 
        [selectedStates]="this.selectedStates"
        [planningStates]="this.planningStates"
        (skeletonLoading)="this.skeletonLoading = $event" 
        (search)="this.search = $event"
        (statesToFilter)="getPlanningsFiltered($event,this.search)">
      </app-planning-search>

      <div class="horizontal-cards ion-margin">
        <div *ngIf="this.filteredPlannings?.length == 0 && this.skeletonLoading == false" style=text-align:center;>
          <br>
          <h2>No se han encontrado resultados para la búsqueda.</h2>
          <h6>Prueba con otras palabras clave o modifica los filtros de búsqueda.</h6>
        </div>
        <div class="item" *ngIf="this.skeletonLoading == true">
          <ngx-skeleton-loader 
              count="10" 
              [theme]="{
                  height: '180px',
                  'border-radius': '10px',
                  'margin-right': '20px'
              }"
          ></ngx-skeleton-loader>
        </div>
        <app-planning-card
          *ngFor="let planning of this.filteredPlannings"
          (click)="this.goToPlanningDetail(planning)"
          [planning]="planning"
        ></app-planning-card>
      </div>
    </div>
</ion-col>
<ion-col size="1"></ion-col>
</ion-row>
</ion-content>