<ion-header>
  <ion-toolbar color=primary>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Agilmente - Cargar nuevo paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col>
      <ion-title class="ion-padding ion-margin">
        Nuevo Paciente
      </ion-title>
      <div class="ion-padding ion-margin" id="container">
        <form [formGroup]="myForm" (ngSubmit)="save(myForm)">
          <ion-row>
            <ion-col size=6>
              <ion-item id="rounded">
                <ion-label position="stacked" fixed="" color="primary">Nombre *</ion-label>
                <ion-input formControlName="firstName" type="text" maxlength=20></ion-input>
              </ion-item>

              <small class="validation-error" style="color:#f53d3d; font-size:70%" *ngIf="invalidField('firstName')" class="alert">
                Este campo es requerido
              </small>

            </ion-col>
            <ion-col size=6>
              <ion-item id="rounded">
                <ion-label position="stacked" color="primary">Apellido *</ion-label>
                <ion-input formControlName="lastName" type="text" maxlength=20></ion-input>
              </ion-item>

              <small class="validation-error" style="color:#f53d3d; font-size:70%" *ngIf="invalidField('lastName')" class="alert">
                Este campo es requerido
              </small>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size=6>
              <ion-item id="rounded">
                <ion-label position="stacked" color="primary">Fecha de nacimiento *</ion-label>
                <ion-input readonly
                    [liIonic4Datepicker]="datePickerObj"
                    formControlName="birthDate">
                </ion-input>
                <ion-icon name="calendar-outline" slot="end" style="margin-top: 16px;"></ion-icon>
              </ion-item>

              <small class="validation-error" style="color:#f53d3d; font-size:70%" *ngIf="invalidField('birthDate')" class="alert">
                Este campo es requerido
              </small>

            </ion-col>
            <ion-col>
              <ion-item id="rounded">
                <ion-label position="stacked" color="primary">
                  Localidad *
                </ion-label>

                <ion-input formControlName="city" type="text"></ion-input>
              </ion-item>

              <small class="validation-error" style="color:#f53d3d; font-size:70%" *ngIf="invalidField('city')" class="alert">
                Este campo es requerido
              </small>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size=6>
              <ion-item id="rounded">
                <ion-label position="stacked" color="primary">Teléfono</ion-label>
                <ion-input type="text" formControlName="telephone">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item id="rounded">
                <ion-label position="stacked" color="primary">Correo Electrónico</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item id="rounded">
                <ion-label 
                  position="stacked" 
                  color="primary">
                  Descripción
                </ion-label>
                <ion-textarea rows="6" 
                  formControlName="description" 
                  type="text"
                  maxlength=240>
                </ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-label class="ion-padding ion-margin">
            * Los campos que poseen (*) son obligatorios.
          </ion-label>
          <br>
          <br>
          <ion-button type="submit" 
            [disabled]="!myForm.valid || isClicked"
            expand="block" 
            class="ion-text-uppercase ion-margin-top"
            >
            Cargar Paciente
          </ion-button>
        </form>
      </div>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-content>