.gc_container {
    width: 100%;

    &_item {
        display: inline-grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        align-items: center;
        justify-items: center;

        &_card {
            display: flex;
            justify-items: center;
            align-items: center;
        }
    }
    
    
}