.card {
    min-height: 169px;
    width: 100%;
    &__title {
        color: black;
        margin-bottom: 0px;
        margin-top: 10px !important;
    }
    &__datetime {
        margin-top: 5px !important;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #626262;
    }
    &__chips {
        height: 40px;
        border-radius: 24px;
        &__icon {
            font-size: 31px;
        }
        &__text {
            color: black;
            font-size: 20px;
        }
    }
}
.container {
    margin-left: 32px;
}
.game_with_icon {
    display: flex;
    justify-content: center;
}
.icon {
    width: 45px;
    height: 45px;
    margin-top: 10px !important;
    margin-right: 7px;
    border-radius: 15px;
}
.statistics_chips {
    display: flex;
}
.difficult_score {
    display: flex;
    flex-direction: column;
    align-items: center;
}