<ion-card class="horizontal-cards" button="true">
  <ion-card-header>
    <ion-row>
    <ion-card-title style="margin-top: 0.8%;" color="primary">{{this.planning.planningName}}</ion-card-title>
      <ion-chip color="{{this.color}}">
        <ion-icon color="{{this.color}}" name="{{this.icon}}"></ion-icon>
        <ion-label *ngIf="this.planning.stateName != 'Vigente con juegos libres'" color="dark">{{ this.planning.stateName }}</ion-label>
        <ion-label *ngIf="this.planning.stateName == 'Vigente con juegos libres'" color="dark">Vigente</ion-label>
      </ion-chip>
    </ion-row>
    <ion-row><h4>{{ this.planning.patientName }}</h4></ion-row>
  </ion-card-header>
  <ion-card-content>
    
    <ion-label
      ><p>Profesional: <b>{{ this.planning.professionalName }}</b></p></ion-label
    >
    <ion-label
      ><p>Vigencia: {{ this.planning.startDate}} a {{ this.planning.dueDate}}</p></ion-label
    >

  </ion-card-content>
</ion-card>