<ion-card class="gsc">
  <ion-accordion-group>
    <ion-accordion value="game-session">
      <ion-item class="gsc__header" slot="header">
        <div class="gsc__header__container">
          <div class="gsc__header__container__game-container">
            <div class="gsc__header__container__game-container__game">
              <img
                src="assets/pictures/encuentra_al_nuevo_icon.png"
                alt="Game Icon"
              />
              <ion-text class="card-title">Encuentra al Repetido</ion-text>
            </div>
            <div class="gsc__header__container__game-container__difficulty">
              <div class="gsc__header__container__game-container__difficulty__difficulty">
                <ion-text class="card-big-number">Fácil</ion-text>
              </div>
              <div class="gsc__header__container__game-container__difficulty__is-custom">
                <ion-text class="card-subtitle">Personalizado</ion-text>
              </div>
            </div>
          </div>
          <div class="gsc__header__container__sessions-left">
            <div class="gsc__header__container__sessions-left__title">
              <ion-text class="card-title">Partidas restantes</ion-text>
            </div>
            <div class="gsc__header__container__sessions-left__value">
              <ion-text class="card-big-number" [ngClass]="this.tendency">999</ion-text>
            </div>
          </div>
          <div class="gsc__header__container__mgp">
            <div class="gsc__header__container__mgp__title">
              <ion-text class="card-title">Métrica General de Progreso</ion-text>
            </div>
            <div class="gsc__header__container__mgp__subtitle">
              <ion-text class="card-subtitle">De esta sesión</ion-text>
            </div>
            <div class="gsc__header__container__mgp__value">
              <ion-text class="card-big-number" [ngClass]="this.tendency">1896</ion-text>
              <ion-text [ngClass]="this.tendency">+75</ion-text>
              <ion-icon *ngIf="this.tendency === 'increment'" name="arrow-up-circle" class="increment"></ion-icon>
              <ion-icon *ngIf="this.tendency !== 'increment'" name="arrow-down-circle" class="decrement"></ion-icon>
            </div>
          </div>
        </div>
        
      </ion-item>
      <ion-item class="gsc__content" slot="content">
        <div class="gsc__content__params">asd</div>
        <div class="gsc__content__results">asd</div>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
</ion-card>
