/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom fonts */
@font-face {   
  font-family: 'Futura';
  src: url('./assets/fonts/Futura Light font.ttf');
}
@font-face {   
  font-family: 'Bariol';
  src: url('./assets/fonts/Bariol_Regular.otf');
}

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #488aff));
}

/* Style overwrite for AgilMente Fonts */
ion-label {
  font-family: "Bariol" !important;
  font-size: 14px;
}

ion-title {
  font-family: "Futura";
  font-size: 36px;
}

ion-text {
  font-family: "Bariol";
}

ion-button {
  font-family: "Futura";
  text-transform: none;
  font-size: 18px;
}

ion-margin {
  font-size: 24px;
}

ion-card-title {
  font-family: "Futura";
  font-size: 24px;
}

ion-card-subtitle {
  font-family: "Bariol";
  font-size: 14px;
}

ion-searchbar {
  .searchbar-input-container {
    input{
      font-family: 'Bariol' !important;
      font-size: 16px !important;
    }
  }
}

ion-alert {
  .alert-checkbox-label {
    font-family: "Bariol";
  }

  .alert-button {
    font-family: "Bariol";
  }
}


ion-col {
  font-family: "Bariol"
}

ion-chip {
  font-family: "Bariol"
}

ion-row {
  font-family: "Bariol"
}

ion-input {
  font-family: "Bariol" !important;
}

ion-textarea {
  font-family: "Bariol" !important;
}

.alertError{
  color: #f53d3d !important;
}
.alertSuccess{
  color: #32db64 !important;
}

.my-custom-class {
  .alert-message {
    font-family: "Bariol";
  }

  .alert-head {
    font-family: "Futura";
  }

  .alert-button {
    font-family: "Bariol";
  }
}




.centerh3{
  h3{
    text-align: center;
  }

}